.dog img {
  height: 200px;;
  width: 50%;
}

.cat img {
  width: 70%
  height:60px;
}

#catdog {
  background-image: url("../img/catdog.jpg") ;
  background-size: contain;
}

h1 {
  text-align: center;
}
